*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.wrapper{
    display: grid;
    background-color: #c20492;
    grid-template-columns:88% 6% 6%;
    height: 40px;
    width: 90%;
    margin-left: 5%;
    
}

.wrapper .login {
    background-color: #1f1f1f;
    color: white;
    font-family: Arial; 
    
}

.wrapper .register {
    background-color: #262626;
    color: white;
    font-family: Arial;
    

}

.wrapper .login a{
    color: white;
    margin-top: 5%;
    font-size: 14px;
    
}

.wrapper .login  :hover{
    color: magenta;
}
.wrapper .register :hover{
    color: magenta;
}


.wrapper .register a{
    color: white;
        font-size: 14px;

}

.header{
	color: white;
	font-family: Arial;
	font-style: italic;
	letter-spacing: 2px;
    margin-top: 1%;
    font-size: 25px;
	
}
.header span{
    color: #1f1f1f;
}
.header a {
    color: white;
    
    
}

.wrapper-1 li :hover{
    color: magenta;
    font-size: 18px;
}

.wrapper-1{
    display: grid;
    grid-template-columns: 31.5% 31.75% 31.5%;
    margin-left: 5%;
}
.wrapper-1 li{
    color: white;
    font-family: Arial;
	text-transform: uppercase;
	letter-spacing: 2px;
    font-size: 14px;
        height: 10px;

}

.wrapper-1 > div{
    background-color: #262626;
    padding: 1em;
}
.wrapper-1 >div:nth-child(odd){
    background-color: #1f1f1f;
}

.article{
    display: flex;
    padding: 1em;
    grid-template-columns: 50% 50%;
    color: #1f1f1f;
    font-family: Arial;
    background-color: #ddd;
    width: 87.5%;
    margin-left: 5%;
}
.article a {
    color: #1f1f1f;
}
.article p {
    font-size: 14px;
}
.article h3{
    font-size:18px;
}
